button{
    position: relative;
    background-color: rgb(183, 237, 255);
    border: none;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 24px;
}

button:hover{
    cursor: pointer;
    background-color:rgb(212, 244, 255) ;
}

.green{
    background-color: greenyellow;
    pointer-events: none;
}

.red{
    background-color: red;
    pointer-events: none;

}


.myPoint{
    color: rgb(58, 222, 58);
}

.notMyPoint{
    color: rgb(222, 88, 58);
}

/* .denemeDiv{
    opacity: 0.77;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-color: rgb(24, 66, 129);
    border-radius: 100% 0% 0% 100% / 100% 0% 100% 0% ;
} */
